{% extends "template.html" %}

{% block container %}
<div id='container'> 
      <span id='logo'>assist</span> 
      <div id='primary'> 
        <h1> 
          <a href="/">&nbsp;&nbsp;&nbsp;&nbsp;by subtle controls</a>
        </h1> 
        <div class='block-2'> 
          <h2>Problem</h2> 
          <p>
          You run a business and need a professional phone system. But traditional phone systems are expensive and complicated.  We make it easy to replace your home phone with simple extensions or make a professional phone tree.
          </p>
        </div> 
        <div class='block-3'> 
          <h2>Solution</h2> 
          <p>
          Coming Soon.
          </p>
        </div> 
      </div>  
    </div>
{% endblock %}




     
    