{% extends "template.html" %}

{% block container %} 
    <div id='container'> 
      <span id='logo'>expreso</span> 
      <div id='primary'> 
        <h1> 
          <a href="/">&nbsp;&nbsp;&nbsp;&nbsp;by subtle controls</a>
        </h1> 
        <div class='block-2'> 
          <h2>Problem</h2> 
          <p>
          To open the gate, apartment tenats have to give the apartment office a local phone number [<a>1</a>].  They can only choose one phone number [<a>2</a>].  They can get a home phone installed, but a basic package is $44.95 [<a>3</a>].
          </p>
          <p>
          After all of this, you still can only reach one person.  For most households that isn't enough.  We use intelligent routing to connect guests to residents [<a>4</a>].
          </p>
        </div> 
        <div class='block-3'> 
          <h2>Solution</h2> 
          <p>How we make it easier:</p> 
          <table id='stats'> 
            <tr>  
              <td>[<a>1</a>] &nbsp;&nbsp;we give everyone a local number</td> 
            </tr> 
            <tr>  
              <td>[<a>2</a>] &nbsp;&nbsp;we forward it anywhere you want</td> 
            </tr>
            <tr>  
              <td>[<a>3</a>] &nbsp;&nbsp; our plans start at $9.99</td> 
            </tr>
            <tr>  
              <td>[<a>4</a>] &nbsp;&nbsp; we give you three extensions</td> 
            </tr>
          </table> 
        </div> 
      </div> 
    </div>
{% endblock %}