{% extends "template.html" %}

{% block container %}
    <div id='container'> 
      <div id='logo'><a href="/">mcottondesign</a></div> 
      <div id='primary'> 
        <h1> 
          <a href="/">&nbsp;&nbsp;&nbsp;&nbsp;loving open-source, one anonymous function at a time</a>
        </h1>
        
        <br>
        <div class='block-2' id='col_1'> 
          <h2>About Me</h2> 
          <p>
             I am a smart, ambitious nerd.  I love creating, learning, exploring, teaching, experimenting, and most of all, shipping code.  
             I love solving real problems through technology. 
          </p>
          
        </div> 
        <div class='block-2' id='col_3'> 
          <h2>Projects</h2> 
          <p>
            I love open-source and make as much of my code public as I can, even <a href="https://github.com/mcotton/GAE-blog">this blog</a> is open-source.  You can checkout what I'm working on <a href="https://github.com/mcotton">github</a> or read through my <a href="/blog">blog</a>. 
          </p>
          
        </div> 
        <div class='block-2' id='col_3'> 
          <h2><a href="/blog">Blog</a></h2> 
          <p>I recommend starting with these
            <ul style="list-style-disc: square;">
                <li><a href="/post/ahRzfm1jb3R0b25kZXNpZ24zLWhyZHIMCxIEQmxvZxj61xAM">How I use Frontend build tools and Grunt.js</a></li>
                <li><a href="/post/ahRzfm1jb3R0b25kZXNpZ24zLWhyZHIMCxIEQmxvZxjK7Q4M">Working with the API: getting previews</a></li>
                <li><a href="post/ahRzfm1jb3R0b25kZXNpZ24zLWhyZHIMCxIEQmxvZxi6nw4M">JavaScript: Getting updated properties</a></li>
                <li><a href="/post/ahRzfm1jb3R0b25kZXNpZ24zLWhyZHIMCxIEQmxvZxjSnQwM">JavaScript: ways of looping</a></li>
                <li><a href="/blog/screencasts">Screencasts</a></li>
            </ul>
          </p>
        
        </div> 
      </div>  
    </div> 
{% endblock %}



