{% extends "template.html" %}

{% block container %}
    <div id='container'> 
      <span id='logo'>mcottondesign</span> 
      <div id='primary'> 
        <h1> 
          <a href="/">&nbsp;&nbsp;&nbsp;&nbsp;a javascript ninja in training</a>
        </h1> 
        
        <br>
        
        <div class='block-2' id='col_1'> 
          <h2>Experience</h2> 
          <p>
          I have had the good fortune to work in the homes of executives and NBA starts...  
          </p>
          <br><br><br><a href="expreso" style="float: right;">Read more...</a>
          
        </div> 
        <div class='block-2' id='col_2'> 
          <h2>Present</h2> 
          <p>
          I love working in JavaScript and Python.  I also love working in with physical computing and gizmos...
          </p>
          <br><br><a href="assist" style="float: right;">Read more...</a>
        
        </div> 
        <div class='block-2' id='col_3'> 
          <h2>Ambitions</h2> 
          <p>
          I am looking to use my skills in ways to help others, without the looming question of, "can we bill for this?"...
          </p>
          <br><br><a href="on-call" style="float: right;">Read more...</a>
          
        </div> 
      </div>  
    </div> 
{% endblock %}



