{% extends "template.html" %}

{% block container %}
    <div id='container'> 
      <div id='logo'><a href="/">mcottondesign</a></div> 
      <div id='primary'> 
        <h1> 
          <a href="/">&nbsp;&nbsp;&nbsp;&nbsp;loving open-source, one anonymous function at a time</a>
        </h1>
        
        <br>
        <div class='block-2' id='col_1'> 
          <h2>Experiments</h2> 
          <p>
          My place to try, experiment, and possibly fail…  
          </p>
          <br><br><a href="#" style="float: right;">Read more...</a>
          
        </div> 
        <div class='block-2' id='col_2'> 
          <h2>Screencasts</h2> 
          <p>
          The best way for me to learn is by doing.  The best way to show what I've learned is by teaching...
          </p>
          <br><a href="#" style="float: right;">Read more...</a>
        
        </div> 
        <div class='block-2' id='col_3'> 
          <h2>Projects</h2> 
          <p>
          Software is only useful if people use it.  If I can release it as open-source, it will be linked to here…
          </p>
          <br><a href="#" style="float: right;">Read more...</a>
          
        </div> 
      </div>  
    </div> 
{% endblock %}



