
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html> 
  <head> 
    <title>subtle controls - serious tools without shouting</title> 
        <link href="/css/style.css" type="text/css" rel="stylesheet"> 
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17596796-3']);
  _gaq.push(['_setDomainName', '.subtlecontrols.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head> 
  <body> 
    <div id='container'> 
      <span id='logo'>subtle controls</span> 
      <div id='primary'> 
        <h1> 
          &nbsp;&nbsp;&nbsp;&nbsp;serious tools  without  shouting
        </h1> 
        <div class='block-2'> 
          <h2>Expreso</h2> 
          <p>
          We hate gates at apartments.  They frustrate and annoy.  It turns out there is an obvious solution, we were lucky enough to find it.
          <br><br><br><a href="expreso" style="float: right;">Find out more...</a>
          </p>
        </div> 
        <div class='block-2'> 
          <h2>Intelligent Assist</h2> 
          <p>
          Your voicemail can be smarter.  It know if its Tuesday morning or Saturday around midnight.  A serious phone system without the headache.
          <br><br><a href="assist" style="float: right;">Find out more...</a>
          </p>
        </div> 
        <div class='block-2'> 
          <h2>On-Call</h2> 
          <p>
          Who is on-call?  Who needs to know about this emergency?  Just call one number and we will find who can help.
          <br><br><br><a href="on-call" style="float: right;">Find out more...</a>
          </p>
        </div> 
      </div>  
    </div> 
    <div id='footer'> 
        <span> 
            If you would like to find out more, please 
          <a href='mailto:info@subtlecontrols.com'>contact us</a>. 
        </span> 
      </div>
  </body> 
</html> 
