{% extends "template.html" %}

{% block container %}
    <div id='container'> 
      <span id='logo'>on-call</span> 
      <div id='primary'> 
        <h1> 
          <a href="/">&nbsp;&nbsp;&nbsp;&nbsp;by subtle controls</a>
        </h1> 
        <div class='block-2'> 
          <h2>Problem</h2> 
          <p>
          If you offer services, you will need someone on-call for emergencies.  You don't need a pager, just forward the call to phones your people already have.  You can have it choose who to call based on your online calendar. You could even have the caller acknowledge an additional service charge before waking you.
          </p>
        </div> 
        <div class='block-3'> 
          <h2>Solution</h2> 
          <p>
          Coming Soon.
          </p>
        </div> 
      </div>  
    </div> 
{% endblock %}