
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html> 
  <head> 
    <title>mcottondesign</title> 
        <link href="/css/style.css" type="text/css" rel="stylesheet"> 
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  </head> 
  <body> 
    {% block container %}
	{% endblock %}
	
	<div id="robot">
        <!--
        <img src="/images/robot.png" width="115">
        -->
    </div>
    
    <div id="result"></div> 
	
{% block footer %}
    <div id='footer'>
        <span> 
            <a href="/">home</a> <b>||</b>
            <a href="/blog">blog</a> <b>||</b>
            <a href="/blog/contact">contact</a>
        </span> 
      </div>
{% endblock %}

    <script type="text/javascript">
    
    $(document).ready(function() {
    	console.log('jQuery is ready');
    	
    	$('.block-2 a').click(function(event) {
        	event.preventDefault();
        });
    	
    	$('#col_1').click(function() {
            $('#col_2').fadeOut('slow');
            $('#col_3').fadeOut('slow');
            
            setTimeout(function() {
            	$('#result').load('/partial/past')
            	}, 500);
            
    	   });
    	   
        $('#col_2').click(function() {
            $('#col_1').hide('slow');
            $('#col_3').hide('slow');

            setTimeout(function() {
            	$('#result').load('/partial/current')
            	}, 500);    	   
    	   
    	   });
    	   
        $('#col_3').click(function() {
            $('#col_1').hide('slow');
            $('#col_2').hide('slow');
    	   
            setTimeout(function() {
            	$('#result').load('/partial/future')
            	}, 500);    	   
    	   
    	   });
    	   
        
    });
    
    </script>
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17596796-3']);
      _gaq.push(['_setDomainName', '.mcottondesign3.appspot.com']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body> 
</html> 
