
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html> 
  <head> 
    <meta name="viewport" content="width=device-width" />
    <title>mcottondesign</title> 
        <link href="/css/style.css" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>
  </head> 
  <body> 
    {% block container %}
	{% endblock %}
	
    
    <div id="result"></div> 
	
{% block footer %}
    <br>
    <div id='footer'>
        <span> 
            <a href="/">home</a> <b>||</b>
            <a href="/blog">blog</a> <b>||</b>
            <a href="/blog/contact">contact</a>
        </span> 
      </div>
{% endblock %}
    
    
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17596796-1']);
      _gaq.push(['_setDomainName', 'mcottondesign3.appspot.com']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <link rel="stylesheet" type="text/css" href="/gae_mini_profiler/static/css/profiler.css" /> 
    <script type="text/javascript" src="/gae_mini_profiler/static/js/profiler.js"></script> 
    <script type="text/javascript">GaeMiniProfiler.init("fLdw7JepN2y5k5Haos47", false)</script>
    
  </body> 
</html> 
